<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Leonard Tobescu | Photographer</title>

  <!-- Bootstrap Core CSS -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'index/vendor/bootstrap/css/bootstrap.min.css' %}" >

  <!-- Custom Fonts -->
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'index/vendor/fontawesome-free/css/all.min.css' %}"  >
  <link rel="stylesheet" href="{% static 'index/vendor/simple-line-icons/css/simple-line-icons.css' %}" >

  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  <!-- Custom CSS -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'index/stylish-portfolio.min.css' %}">

</head>

<body id="page-top">

    
  <!-- Header -->
  <header class="masthead d-flex">
    <div class="container text-center my-auto">
      <h1 class="mb-1">Roby Toby</h1>
      <h3 class="mb-5">
        <em>An online portfolio of pictures taken by Leonard Tobescu </em>
      </h3>
      <!--<a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Cine este RobyToby?</a>-->
    </div>
    <div class="overlay"></div>
  </header>

  <!-- About -->
  <section class="content-section bg-light" id="about">
    <div class="container text-center">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <h2>Robert-Leonard Tobescu</h2>
          <p class="lead mb-5">is a photographer from Constanța who discovered his passion for photography in the summer of 2016, while volunteering at <a href="http://oceanic.ro">Oceanic-Club</a>
            </p>
         <!-- <a class="btn btn-dark btn-xl js-scroll-trigger" href="/gallery">Portfolio</a>-->
        </div>
      </div>
    </div>
  </section>

<!-- About website-->
  <section class="content-section bg-light" id="about-site">
    <div class="container text-center">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <h2> About this website</h2>
          <p class="lead mb-5">This website was built for my <a href="/aboutsite" <i> Bridging Coursework </i> </a> at the <a href="https://www.birmingham.ac.uk/">University of Birmingham</a></p>
        </div>
      </div>
    </div>
  </section>

 <!-- Footer -->
  <footer class="footer text-center"> 
    <div class="container">
      <ul class="list-inline mb-5">
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white mr-3" href="https://www.facebook.com/RobyTobyPhotographer" target="_blank">
            <i class="icon-social-facebook"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white mr-3" href="https://www.instagram.com/roby.toby/" target="_blank">
            <i class="icon-social-instagram"></i>
          </a>
        </li>
        
      </ul>
      <p class="text-muted small mb-0">Copyright &copy; RobyToby 2020</p>
    </div>
  </footer>

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/stylish-portfolio.min.js"></script>

</body>

</html>
